:80 {
	handle /docs* {
		reverse_proxy user-service:8082
	}

	handle /openapi.json* {
		reverse_proxy user-service:8082
	}

	handle /auth* {
		reverse_proxy user-service:8082
	}

	handle /accounts* {
		reverse_proxy account-service:8080
	}

	handle /transfers* {
		reverse_proxy transfer-service:8081
	}

	handle /health {
		respond "gateway healthy" 200
	}

	handle {
		respond "not found" 404
	}
}
